<!DOCTYPE html>
<html ng-app="app">
    <body id="evenementPage" data-spy="scroll" data-target=".navbar" data-offset="50"data-ng-init="init()" >
      <form name="contactForm" novalidate="true">
		      <div class="container" ng-class="{ 'has-error' : registerForm.name.$invalid && !registerForm.name.$pristine }">
            <div class="box-field col-sm-6" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
             <label>Nom</label>
             <input type="text" name="name" class="form-control" id="nom" ng-model="nom" ng-required="true" >
             <div ng-messages="contactForm.name.$error">
               <p ng-message="required">Votre nom est obligatoire</p>
             </div>
           </div>
           <div class="box-field col-sm-6">
             <label for="prenom">Prénom</label>
             <input type="text" name="prenom" class="form-control" id="prenom" ng-model="prenom" ng-required="true" >
             <div ng-messages="contactForm.prenom.$error">
               <p ng-message="required">Votre prénom est obligatoire</p>

             </div>
           </div>

           <div class="box-field col-sm-12">
             <label><br>Adresse mail<br></label>
             <input type="email" name="email" class="form-control" id="mail" ng-model="mail" ng-required="true" >
             <div ng-messages="contactForm.email.$error">
               <p ng-message="required">Votre e-mail est obligatoire</p>
               <p ng-message="email">Adresse e-mail non valdie</p>
             </div>
           </div>
           <div class="box-field col-sm-12">
             <label><br>Votre message<br></label></br>
             <textarea name="message" rows="8" cols="80" ng-model="message" ng-required="true" ng-minlength="10" ng-maxlength="500"></textarea>
             <div ng-messages="contactForm.message.$error">
               <p ng-message="required">Veuillez rentrer un message</p>
               <p ng-message="minlength">Votre message doit faire au minimum 10 caractères</p>
               <p ng-message="maxlength">Votre message doit faire au maximum 500 caractères</p>
             </div>
           </div>
           <button type="button" class="btn pull-right" ng-disabled="contactForm.$invalid" ng-click="addNewMessage()">Envoyer</button>
          </div>
      </form>
    </body>
</html>
